
body {
  font-family: sans-serif;
  margin: 0;
  background: #f8f8f2;
  color: #222;
  text-align: center;
}
.logo {
  width: 120px;
  margin: 20px auto 10px;
  display: block;
}
header h1 {
  margin: 0;
  font-size: 1.4em;
}
.subtitle {
  margin: 0;
  font-style: italic;
}
.anomalie {
  color: #800000;
  font-weight: bold;
}
.buttons {
  margin: 20px;
}
button {
  margin: 5px;
  padding: 10px 15px;
  background: #333;
  color: white;
  border: none;
  border-radius: 6px;
}
table {
  width: 90%;
  max-width: 700px;
  margin: 20px auto;
  border-collapse: collapse;
}
thead {
  background: #195B4A;
  color: white;
}
td, th {
  padding: 10px;
  border: 1px solid #ccc;
}
footer {
  margin: 30px 0;
  font-size: 0.9em;
  color: #444;
}
