body {
  font-family: sans-serif;
  background-color: #fefef7;
  margin: 0;
  padding: 0;
  text-align: center;
}
.logo {
  max-width: 180px;
  margin: 20px auto;
}
header h1 {
  font-size: 1.2rem;
  margin: 0 10px 20px;
}
.buttons {
  margin-bottom: 20px;
}
button {
  background-color: #2f4f4f;
  color: white;
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
button:hover {
  background-color: #406060;
}
table {
  margin: 0 auto 30px;
  border-collapse: collapse;
  width: 90%;
  max-width: 700px;
}
th, td {
  border: 1px solid #ccc;
  padding: 10px;
}
thead {
  background-color: #215c4f;
  color: white;
}
footer {
  margin: 30px 0;
  font-size: 0.9rem;
  color: #555;
}
